{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Profile</title>
<style>
  #div_id_password {
    display: none;
  }
</style>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="profile-container">
  <h1 id="page-title2">Finder Profile</h1>
  <form class="needs-validation" name="login" action="" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    
    {% comment %}
      <p>Need to update your password? <a href={% url 'change_password' %}>Change password.</a></p>
    {% endcomment %}

    <button class="btn btn-primary" type="submit" style="width: 150px;">Update Profile</button>
  </form>
</div>

<div class="items-found-container">
  <h2 id="page-title2">
    Items Found ({{ items_found | length }})
  </h2>

  <table>
    <tr>
      <th> Item Name: </th>
      <th> Found On:</th>
    </tr>

    {% for item in items_found reversed %}
    <tr>
      <td> {{ item.item_name }} </td>
      <td> {{ item.time_found }} </td>
    </tr> 
    {% endfor %}

  </table>
 

</div>

<div class="items-claimed-container"> 
  <h2 id="page-title2">
    Items Claimed ({{ items_claimed | length }})
  </h2>

  <table>
    <tr>
      <th> Item Name: </th>
      <th> Claimed On:</th>
    </tr>

    {% for item in items_claimed reversed %}
    <tr>
      <td> {{ item.item_name }} </td>
      <td> {{ item.time_claimed }} </td>
    </tr> 
    {% endfor %}

  </table>
 

</div>


<script src={% static 'js/profile.js' %}></script>
{% endblock %}
