{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Reset Password</title>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <h1>Enter New Password</h1>
  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
  <form class="needs-validation" name="reset_password" action="" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Update Password</button>
  </form>
</div>

<script src={% static 'js/show_password_reset.js' %}></script>
{% endblock %}