{% extends "base.html" %}

{% block title %}
<title>WE ARE DUMB</title>
{% endblock %}

{% block content %}
<h1 id="page-title">
    Lost Items
</h1>

<p id= "page-subhead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
</p>

<div id="item">

    <div id="item-card">	

            <h1 id="item-head">
                Item Name
            </h1>

            <button id="claim-button">
                Claim Me!
            </button>
        
            <p class="item-sect"> 
                    Found at: perspiciatis unde
            </p>

            <p class="item-sect"> 
                Left at: totam rem aperiam
            </p>

            <p class="item-sect"> 
                Finder's note: Architecto beatae vitae dicta sunt explicabo. Nemo enim 
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
            </p>

    </div>

    <div id="item-image">
        
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
    
    </div>
    
</div>

<div id="item">

    <div id="item-card">	

            <h1 id="item-head">
                Item Name
            </h1>

            <button id="claim-button">
                Claim Me!
            </button>
        
            <p class="item-sect"> 
                    Found at: perspiciatis unde
            </p>

            <p class="item-sect"> 
                Left at: totam rem aperiam
            </p>

            <p class="item-sect"> 
                Finder's note: Architecto beatae vitae dicta sunt explicabo. Nemo enim 
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
            </p>

    </div>

    <div id="item-image">
        
        <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
    
    </div>
    
</div>




{% endblock %}
