{% extends "base.html" %}

{% block title %}
<title>WE ARE DUMB</title>
{% endblock %}

{% block content %}
<h1 id="page-title">
    Lost Items
</h1>

<p id= "page-subhead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
</p>

{% for item in items reversed %}
<div id="item">

    <div id="item-card">	

            <h1 id="item-head">
                {{ item.item_name }}
            </h1>

            {% if item.status == 'Unclaimed' and item.curr_user == user %}
                <form action="" method="POST" style="display:inline">
                {% csrf_token %}
                <button type="submit" id="item-delete-button" name="item-id" value="{{ item.item_id }}">
                    Delete Me!
                </button>
                </form>
            {% comment %} Claim button {% endcomment %}
            {% elif item.status == 'Unclaimed' %}
                <form action="" method="POST" style="display:inline">
                {% csrf_token %}
                <button type="submit" id="item-claim-button" name="item-id" value="{{ item.item_id }}">
                    Claim Me!
                </button>
                </form>
            {% comment %} Unclaim button {% endcomment %}
            {% elif item.status == 'Claimed' and item.claim_user == user %}
                <form action="" method="POST" style="display:inline">
                {% csrf_token %}
                <button type="submit" id="item-unclaim-button" name="item-id" value="{{ item.item_id }}">
                    Unclaim Me!
                </button>
                </form>
            {% comment %} Claimed button {% endcomment %}
            {% elif item.status == 'Claimed' %}
                <form action="" method="POST" style="display:inline">
                {% csrf_token %}
                <button type="submit" id="item-claimed-button" name="item-id" value="{{ item.item_id }}" disabled>
                    Claimed!
                </button>
                </form>
            {% endif %}
        
            <p class="item-sect"> 
                Found at: {{ item.where_found }}
            </p>

            <p class="item-sect"> 
                Left at: {{ item.where_left }}
            </p>

            <p class="item-sect"> 
                Finder's note: {{ item.description }}
            </p>

            <p class="item-sect"> 
                Found by: {{ item.curr_user }}
            </p>

            <p class="item-sect"> 
                Time found: {{ item.time_found }}
            </p>
            
            {% comment %} {% if item.status == 'Claimed' %}
            <p class="item-sect"> 
                Claimed by: {{ item.claim_user }}
            </p>
            {% endif %}

            {% if item.status == 'Claimed' %}
            <p class="item-sect"> 
                Time claimed: {{ item.time_claimed }}
            </p>
            {% endif %} {% endcomment %}
    </div>

    <div id="item-image">
        
        <img src="{{ item.image.url }}">
    
    </div>
    
</div>
{% empty %}
<p id= "page-subhead">
  You have no lost items.
</p>
{% endfor %}

<button title = "Add an item!" id="item-add-button"><a id="item-add-button" href="{% url 'add_item' %}" style="text-decoration:none;">+</a></button>

{% comment %} <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
</script> {% endcomment %}
{% endblock %}
